<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./partials/head.ejs')%>

    <title>Document</title>
</head>

<body>
  <%- include('partials/navigations.ejs')%>

    <main class="d-flex justify-content-center align-items-center vh-100 text-center pt-20">
      <section class="d-flex flex-column justify-content-center align-items-center ">
        <h1 class="display-1">About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, repudiandae. Cum consectetur repellat iure
          ipsa deserunt quaerat adipisci alias fuga?</p>
      </section>
    </main>
    <%- include('partials/footer.ejs')%>

</body>

</html>