<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./partials/head.ejs')%>
    <title>
      <%= title %>
    </title>
</head>

<body>
  <%- include('partials/navigations.ejs')%>
    <header class="container vh-100 d-flex justify-content-center align-items-center ">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="/img/FGC7.png " class="w-25 rounded-circle" alt="">
        <h1 class="dispaly-1 my-5 text-uppercase fw-bold">Fgc7</h1>
        <a href="/about" class="btn btn-primary">About</a>
      </div>
    </header>

    <%- include('partials/footer.ejs')%>
</body>

</html>